********このメールは自動応答です********

この度は、お問い合わせ頂き、誠にありがとうございます。

毎週、日曜日および水曜日は定休日とさせていただいております。

いただきましたメールをお預かりいたしました。休み明け順次ご返信させて頂きます。

※このメールは自動送信されております。このメールに返信いただいても回答できません
　のでご了承ください。また、お問い合せは下記連絡先までお願いいたします。

--------------------------------------------------------
MY COMPANY
〒100-8111 東京都千代田区千代田１−１
TEL:0120-xxx-xxx
FAX:xx-xxxx-xxxx
E-mail:info@sample.com / URL:http://www.sample.com/
営業時間　月曜ー木曜 PM12:00〜PM7:00
　　　　　金曜・祝日 AM11:00〜PM6:00
定休日　　毎週土曜日・日曜日（祝日除く）
--------------------------------------------------------
